<ion-tabs>

  <!-- Área onde cada página da tab é renderizada -->
  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Início</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="children">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Crianças</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="vaccines">
      <ion-icon name="medkit-outline"></ion-icon>
      <ion-label>Vacinas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="campaigns">
      <ion-icon name="megaphone-outline"></ion-icon>
      <ion-label>Campanhas</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>